body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin:0.8em; }

img { border: none; }

h1 { 
    font-size: 1.3em; 
    color: white;
    background-color: black;
    margin: 0 0 0.3em 0;
    padding: 0.2em;
}

h2 { 
    font-size: 1em; 
    color: white;
    background-color: darkgray;
    margin: 0 0 0.3em 0;
    padding: 0.1em 0 0.1em 0.2em;
}

#header_main {
    position: relative;
    border: solid;
    border-width: 1px;
    border-color: darkgray;
    padding-bottom: 0; }

#header_right { float: right; }

#contents {
    margin: 0.5em 0 0.5em 0; }

#footer {
    border: solid;
    border-width: 1px 0 0 0;
    color: darkgray;
    font-size: 0.8em;
    text-align: center; }

div.clear {
    clear: both;
}

/* Links */

A:link,
A:visited
        {
        color: blue;
        text-decoration: none;
        }

A:hover,
A:active
    {
    color: white;
    background-color: #4a79cd;
    text-decoration: none;
    }
